#background {
  display: block;
  position: absolute !important;
  z-index: -10 !important;
  
  overflow: hidden;
  
  margin: 0 !important;
  padding: 0 !important;
  
  width: 100%;
  height: 10%;
  
  top: 0;
  left: 0;
}

#background > * {
  position: absolute !important;
  display: inline-block;
  top: 0;
  left: 0;
  
  width: 100% !important;
  height: 100% !important;
  
  background-size: contain;
  background-repeat: repeat;
}

#background > #layer1 {
  background-size: 200%;
  background-image: url("assets/backgrounds/sections/stary_bg_layer1.png");  
  width: 200% !important;
  height: 100%;
  opacity: 60%;
}

#background > #layer2 {
  background-image: url("assets/backgrounds/space/space.png");
  width: 100%;
  height: 100%;
  opacity: 50%;
}

#background > #layer3 {
  background-size: 20%;
  background-image: url("assets/backgrounds/space/space.png");
  width: 100%;
  height: 100%;
  opacity: 50%;
}
