#gameArea {
  display: flex;
  flex-direction: column;
  padding: 8px;
  
  gap: 8px;
}

#battleVisuals {
  flex: 1;
  display: flex;
  flex-direction: row;
  
  justify-content: space-evenly;
  border: 1px solid #ffffff;
  
  gap: 10%;
  padding: 8px 5%;
}

#battleVisuals > .shipView {
  display: flex;
  width: fit-content;
  
  flex-direction: column;
  padding: 8px 0 0 0;
  border: 1px solid #d5d5d5;
}

#battleVisuals > .shipView > * {
  flex-basis: 5%;
  margin: 2px;
}


#battleVisuals > .shipView > .shipImage {
  flex-basis: 85%;
  min-width: 256px;
  min-height: calc(256px - 24px); /* 24px loosely accounts for name and health bar */
}

#userInteraction {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, auto);
  
  gap: 8px;
  padding: 24px;
  min-height: 256px;
  
  border: 1px solid #ffffff;
}

#userInteraction > * {
  width: 100%;
  height: 100%;
}
