#pageInformation {
  border: 1px solid #ffffff;
  display: flex;
  flex-wrap: nowrap;
  
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 18px;
}

#pageInformation * {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}
