#pageInformation {
  border: 1px solid #ffffff;
  display: flex;
  flex-wrap: nowrap;
  
  overflow-y: hidden;
  overflow-x: auto;
  
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
  padding: 2px 24px !important;
  gap: 18px;
}

#pageInformation * {
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
}

#pageInformation > *:nth-child(2){
  flex: 1;
  visibility: collapse;
}


#pageInformation a {
  color: #f5c147;
}

#pageInformation a:visited {
  color: #d7a01d;
}
