/* # General Stuff */
@font-face {
  font-family: "Pixantiqua";
  src: url("assets/fonts/pixantiqua_font/Pixantiqua-24l8.ttf");
}

/* After an hour of trying to find the things I was looking for, I accidentally found it */
html * {
  font-family: "Pixantiqua", Arial, Helvetica, sans-serif !important;
  letter-spacing: .2px !important;
  text-rendering: optimizeLegibility !important;
  image-rendering: pixelated !important;
  shape-rendering: crispEdges !important;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 2.2px !important;
  font-size: 14pt;
}

.guiSection {
  margin: 4px 10px 0px 10px !important;
  
  border: 0px solid #ffffff !important;
  border-width: 4px 4px !important;
  border-image-source: url("assets/gui/section/section_borderBG_white_light.png") !important;
  border-image-repeat: stretch !important;
  border-image-slice: 2 2 2 2 fill !important;
  
  box-shadow: 0px 2px 4px goldenrod; 
}

/* # Button Stuff */
.guiIcon {
  object-fit: contain !important;   
  image-rendering: auto !important;
  
  min-height: 12pt !important;
  max-height: 32px !important;
  margin: 6px 0px !important;
  padding: 0 !important;
}

.guiButton {
  transition: 0.05s ease !important;
  background-color: #00000000 !important;
  border: 24px solid #ffffff !important;
  border-image-source: url("assets/gui/button/menu_button.png") !important;
  border-image-repeat: stretch repeat !important;
  border-image-slice: 12 fill !important;
  min-width: fit-content !important;
  filter: grayscale(20%) drop-shadow(0px 4px 0px #9d8c77);
}

.guiButton:hover {
  border-image-source: url("assets/gui/button/menu_button_hover.png") !important;
  filter: grayscale(10%) drop-shadow(0px 4px 0px #9d8c77);
}

.guiButton:active {
  border-image-source: url("assets/gui/button/menu_button_pressed.png") !important;
  position: relative !important;
  top: 4px !important;
  filter:  grayscale(10%) !important;
}

.guiButton > * {
  white-space: nowrap;
  
  /* This is a work around to force a wrap on button icons since I'm using
     display param to change buttons when in battle mode.
  */
  width: 100% !important;

  /* To stop dragging disabling click event: https://stackoverflow.com/a/14432955 */
  pointer-events: none;
}

.guiButton > span {
  font-size: 18pt !important;
  font-weight: bold !important;
  letter-spacing: 2.5px !important;

  color: #BA976D !important;
  /* opacity: 80%; */
  
  text-shadow: 0px -2px 0px #5a5146;
}

.guiButton > img {
  filter: drop-shadow(0px -1px #5a5146);
}

.guiButton:hover > span {
  filter: brightness(200%);
}

.guiButton:hover > img {
  filter: drop-shadow(0px -1px #5a5146) brightness(200%);
}

.guiButton:active > span {

}


/* # Battle Section stuff */ 
.guiSection#battleVisuals {
  margin: -12px 0px 0px 0px !important;
  padding: 32px 0px 22px 0px !important;
  border-image-source: url("assets/gui/section/section_battleArea.png") !important;
  border-width: 0px 32px !important;
  border-image-slice: 0 18 fill !important;
  box-shadow: 0 0 0 goldenrod;
}

.guiSection#battleVisuals .shipTitle{
  border-image-source: url("assets/gui/section/section_header.png") !important;
  border: 8px solid white;
  border-width: 4px 8px !important;
  padding: 2px;
  border-image-slice: 8 8 fill !important;
} 


/* # Console Stuff */
.guiSection#console {
  padding: 0 !important;
  background-color: black !important;
}

.guiSection#console header {
  border: 1px !important;
  border-image-source: url("assets/gui/text_plate.png") !important;
  border-image-slice: 8 fill !important;
  opacity: 80% !important;
}

.guiSection#console > header > span {
  font-size: 14pt;
  text-decoration: underline;
}

.guiSection#console > p{
  margin: 0 !important;
  padding: 0 18px !important;  
  font-size: 12pt !important;
  /* background-origin: border-box; */
}


/* # Header Stuff */
.guiHeader {
  /* margin: 32px; */
  background: none !important;
  border: 1px solid #000000 !important;
  border-width: 4px 0px 4px 0px !important;
  border-image-source: url("assets/gui/section/section_borderBG_white_light.png") !important;
  border-image-slice: 8 8 6 8 fill !important;
  border-image-repeat: round !important;
}

.guiHeader > * {
  background: none !important;
  border: 1px solid #000000 !important;
  border-width: 16px !important;
  border-image-source: url("assets/gui/section/section_borderBG_white_light.png") !important;
  border-image-slice: 8 8 6 8 fill !important;
  border-image-repeat: stretch !important;
}


/* # Footer Stuff */
.guiFooter {
  margin-top: 24px;
  border: 1px solid goldenrod !important;
  border-width: 1px 0 0 0 !important;
  background-color: #1f002a !important;
  
  font-size: 10pt;
}

.guiFooter > span {
  border: 0px solid #ffffff !important;
  border-width: 0px 0 4px 0 !important;
  border-image-source: url("assets/gui/section/section_borderBG_gold_heavy.png") !important;
  border-image-repeat: stretch !important;
  border-image-slice: 7 7 6 7 !important;
  
  width: fit-content !important;
}
